<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="URL" value="https://demo.applitools.com/hackathonV2.html" />
    <add key="API_KEY" value="xLf2b1XekJWRno2lWJGxPwTtZCNeQul7fCN102lu7MzFk110" />
  </appSettings>  
</configuration>